@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --font-family: "Nunito Sans", sans-serif;
  --cor-fundo: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  gap: 180px;
  height: 100vh;
}
.imagem {
  width: 100vh;
  height: 100vh;
  object-fit: cover;
  display: block;
}

body {
  font-family: var(--font-family);
  background-color: var(--cor-fundo);
}

.container-infos {
  width: min(420px, 90vw);
  padding: 0 48px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .imagem {
    width: 100%;
    height: auto;
  }
}
