@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --font-family: "Nunito Sans", sans-serif;
  --cor-fundo: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
}
.imagem {
  width: 800px;
  height: 690px;
}

body {
  font-family: var(--font-family);
  background-color: var(--cor-fundo);
}

.container-infos {
  margin-left: 150px;
  width: 400px;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
}
