:root {
  --cor-texto: #a1a1a1;
  --cor-span: #7f265b;
}
.footer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.app-texto {
  text-decoration: none;
  color: var(--cor-texto);
}
.app-span {
  color: var(--cor-span);
}
