:root {
  --text-principal: #525252;
  --text-secundario: #a1a1a1;
}

.infos {
  display: flex;
  flex-direction: column;
  color: var(--text-principal);
}

.info-logo {
  width: 50px;
  height: 50px;
  margin: 70px 0 30px 0;
}
.info-titulo {
  margin-bottom: 5px;
}

.info-texto {
  margin-bottom: 40px;
}
.info-email {
  color: var(--text-secundario);
  font-size: 10px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
